.ktv-div-bg {
    cursor:pointer; 
    background-color: #f3f3f3;
    padding: 20px 30px;
    border: 1px solid #dddddd;
}

.ktv-header {
    background: linear-gradient(to right, #c60b00 0%, #e98900 25%, #ffd800 50%, #a1b90e 75%, #2e931f 100%); 
    background-image:linear-gradient(to right, rgb(198, 11, 0) 0%, rgb(233, 137, 0) 25%, rgb(255, 216, 0) 50%, rgb(161, 185, 14) 75%, rgb(46, 147, 31) 100%);left: 0px; top: 53px; right: -1px; height : 5px; width : 510.2px;
}

.ktv-icons {
    cursor: pointer !important;
    height: 40px !important;
    width: 40px !important; 
}
